/*layout*/
.page{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.page>aside{
    width: 300px;
}
.page>main{
    flex-grow: 1;
}

/*aside*/
.page>aside{
    display: flex;
    flex-direction: column;
}
.newSong{
    text-align: center;
    padding: 10px;
}
.newSong.active{
    background-color: #999;
}
#songList-container{
    flex-grow: 1;
}
.songList{
    text-align: left;
    border-top: 1px solid #999;
}
.songList>li{
    border-bottom: 1px solid #999;
}
.songList>li.active{
    background-color: #d4d4d4;
}
#uploadArea{
    text-align: center;
    background: linear-gradient(to top, gray, white);
}
#uploadBtn{
    padding: 15px;
    cursor: pointer;  /*鼠标放上去后变成鼠标手*/
}

/*main*/
.page>main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-left: 1px solid black;
}
.page>main>.box{
    width: 400px;
    border-radius: 10px;
    border: 1px dashed black;
    padding: 40px;
    background-color: #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page>main>.box>.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.page>main>.box>.form>.row{
    margin: 10px 0;
}
.page>main>.box>.form>.row input[type=text]{
     
    padding: 2px 6px;
    border-radius: 4px;
    border: 1px solid #333;
}
.page>main>.box>.form input[type=submit]{
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #333;
}