/*layout*/
.page{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.page>aside{
    width: 300px;
}
.page>main{
    flex-grow: 1;
}

/*aside*/
.page>aside{
    display: flex;
    flex-direction: column;
}
.newSong{
    text-align: center;
    padding: 10px;
}
.newSong.active{
    background-color: rgb(194,12,12);
}
#songList-container{
    flex-grow: 1;
}
.songList{
    text-align: left;
    border-top: 1px solid #999;
}
.songList>li{
    border-bottom: 1px solid #999;
}
.songList>li.active{
    background-color: rgb(194,12,12);
}
#uploadArea{
    text-align: center;
    background: linear-gradient(to top, rgb(194,12,12), white);
}
#uploadBtn{
    padding: 15px;
    cursor: pointer;  /*鼠标放上去后变成鼠标手*/
}

/*main*/
.page>main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194,12,12);
    border-left: 1px solid black;
}
.page>main>.box{
    width: 400px;
    border-radius: 10px;
    border: 1px dashed black;
    padding: 40px;
    background-color: #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 5px black;
}
.page>main>.box>.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.page>main>.box>.form>.row{
    margin: 10px 0;
}
.page>main>.box>.form>.row input[type=text]{
     
    padding: 2px 6px;
    border-radius: 4px;
    border: 1px solid #333;
}
.page>main>.box>.form input[type=submit]{
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #333;
}

/*loading*/
#loading{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;  
    z-index: 1;
    visibility: hidden;
}
#loading::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(194,12,12);
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    animation: loading 1s infinite alternate-reverse linear; /*动画名 持续时间 无限次 交替执行 线性*/
}
@keyframes loading{
    0%{
        transform: scale(0.1);
    }
    100%{
        transform: scale(1.0);
    }
}